.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  -webkit-box-shadow: 0px 5px 10px -1px rgba(31, 31, 31, 1);
  -moz-box-shadow: 0px 5px 10px -1px rgba(31, 31, 31, 1);
  box-shadow: 0px 5px 10px -1px rgb(30, 29, 29);
}

.logo {
  width: 60px;
  padding-left: 10px;
}

nav ul li {
  display: inline-block;
  margin: 0px 5px;
}

.navBar { 
  display: flex;
  align-items: center;
}