footer {
    height: 45px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ab {
    padding: 0;
}